<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login In Form</h1>
    <form method="POST" action="/user/Login">
        <h3>Enter email</h3>
        <input type="text" name="email" required/>
        <h3>Enter password</h3>
        <input type="password" name="password" required/><br />

        <% if (locals.error) { %>
            <p><%= error %></p>
         <% } %>

        <button type="submit">Log in</button>
    </form>
</body>
</html>